.container {
  margin-top: 7rem;
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container h1 {
  color: var(--secondary-color);
  font-size: 3rem
}

.about-sec h3{
  font-weight: normal;
}

.about-sec {
  margin-bottom: 2rem;
}

.instruc-cards{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}