.signup-section {
  margin-top: 7rem;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.signup-heading {
  color: var(--secondary-color);
  font-size: 3rem;
  margin-bottom: 2rem;
}

.signup-form {
  width: 50%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.radio-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.radio-group > *{
  margin: 1rem 0 0 0;
  width: 100px;
}

.error-message{
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 768px){
  .signup-section {
    margin: 0 2rem; 
    width: calc(100% - 4rem);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .signup-form {
    width: 100%;
    margin: 0 auto;
  }

  input,
  select {  
  /* width: 100%; */
  padding: 0.5rem;
  }
}