@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body{
  font-family: 'Questrial', sans-serif;
  --text-color: #333;
  --secondary-color: green;
  --footer-color: #434B56;
  --blue: dodgerblue;
  --light-blue: #00aaff;
  --dark-blue: #0077ff;
  --light-grey: #f5f5f5;
  --dark-grey: #333;
  --yellow: #ffcc00;
  --orange: #ff6600;
  margin: 0;
  z-index: 1;
  overflow-x: hidden;
}


.green-button{
  border-radius: 12px;
  padding: 0.5rem 1rem;
  height: min-content;
  background-color: var(--secondary-color);
  color: white !important;
  border: none;
}

.green-button svg{
  animation: rotate 0.5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}


section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  animation: fadeInAnimation ease 1.5s;
  z-index: 1;
  /* animation-iteration-count: 1; */
  /* animation-fill-mode: forwards; */
}

section .sub{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  width: calc(100% - 10rem);
  margin-left: 10rem;
}

section .sub h1{
  font-size: 7rem;
  margin-bottom: 0.25rem;
}

section .sub h4{
  font-size: 1.5rem;
  color: darkgrey
}

section .sub h3{
  color: darkgrey
}

.subtitle{
  font-size: 2.25rem;
  font-style: bold;
}

@media (max-width: 768px){
  section{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  section .sub{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    width: calc(100% - 4rem);
    margin: auto 2rem;
  }

 

  
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
