.instructor-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1rem;
}

.instructor-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.instructor-details {
  text-align: center;
  margin-top: 1rem;
}

.instructor-name {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.instructor-bio {
  font-size: 1rem;
  color: #555;
}

.instructor-card a {
  margin: auto 1rem;
  color: #555;
  text-decoration: none;
}


.rowbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}